.u-section-1 {
  min-height: 600px;
}

.u-section-1 .u-sheet-1 {
  min-height: 936px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 238px;
  }
}
.u-section-2 {
  background-image: url("/images/nn.jpg");
  background-position: 50% 50%;
  min-height: 1502px;
}

.u-section-2 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 1502px;
  height: auto;
  background-image: linear-gradient(#e9f2fa, rgba(173, 204, 233, 0.43));
}

.u-section-2 .u-container-layout-1 {
  padding: 12px 124px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 3rem;
  font-family: StingerFit-Bold;
  font-weight: 400;
  margin: 78px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin: 60px 0 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 784px;
  grid-gap: 20px;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url("https://assets.nicepagecdn.com/a4d9ff79/5364090/images/photo_5249231247769717317_y.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-group-2 {
  min-height: 113px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.62), rgba(0, 0, 0, 0.67));
}

.u-section-2 .u-container-layout-3 {
  padding-left: 14px;
  padding-right: 14px;
}

.u-section-2 .u-text-2 {
  font-family: StingerFit-Regular;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0;
}

.u-section-2 .u-image-2 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url("https://assets.nicepagecdn.com/a4d9ff79/5364090/images/photo16868241204.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-group-3 {
  min-height: 113px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.62), rgba(0, 0, 0, 0.67));
}

.u-section-2 .u-container-layout-5 {
  padding-left: 14px;
  padding-right: 14px;
}

.u-section-2 .u-text-3 {
  font-family: StingerFit-Regular;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0;
}

.u-section-2 .u-image-3 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url("https://assets.nicepagecdn.com/a4d9ff79/5364090/images/photo_5249231247769717321_y.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-group-4 {
  min-height: 113px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.62), rgba(0, 0, 0, 0.67));
}

.u-section-2 .u-container-layout-7 {
  padding-left: 14px;
  padding-right: 14px;
}

.u-section-2 .u-text-4 {
  font-family: StingerFit-Regular;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0;
}

.u-section-2 .u-image-4 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url("https://assets.nicepagecdn.com/a4d9ff79/5364090/images/photo_5249231247769717319_y.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-8 {
  padding: 0;
}

.u-section-2 .u-group-5 {
  min-height: 113px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.62), rgba(0, 0, 0, 0.67));
}

.u-section-2 .u-container-layout-9 {
  padding-left: 14px;
  padding-right: 14px;
}

.u-section-2 .u-text-5 {
  font-family: StingerFit-Regular;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0;
}

.u-section-2 .u-image-5 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url("https://assets.nicepagecdn.com/a4d9ff79/5364090/images/photo16868241202.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-10 {
  padding: 0;
}

.u-section-2 .u-group-6 {
  min-height: 113px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.62), rgba(0, 0, 0, 0.67));
}

.u-section-2 .u-container-layout-11 {
  padding-left: 14px;
  padding-right: 14px;
}

.u-section-2 .u-text-6 {
  font-family: StingerFit-Regular;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0;
}

.u-section-2 .u-image-6 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url("https://assets.nicepagecdn.com/a4d9ff79/5364090/images/photo_5249231247769717320_y.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-12 {
  padding: 0;
}

.u-section-2 .u-group-7 {
  min-height: 113px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.62), rgba(0, 0, 0, 0.67));
}

.u-section-2 .u-container-layout-13 {
  padding-left: 14px;
  padding-right: 14px;
}

.u-section-2 .u-text-7 {
  font-family: StingerFit-Regular;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0;
}

.u-section-2 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.875rem;
  font-weight: 700;
  font-family: StingerFit-Bold;
  margin: 172px 0 0;
}

.u-section-2 .u-form-1 {
  height: 78px;
  margin: 33px 0 0;
}

.u-section-2 .u-form-group-1 {
  margin-left: 0;
}

.u-section-2 .u-input-1 {
  font-family: StingerFit-Regular;
}

.u-section-2 .u-form-group-2 {
  margin-left: 0;
}

.u-section-2 .u-input-2 {
  font-family: StingerFit-Regular;
}

.u-section-2 .u-form-group-3 {
  margin-left: 0;
}

.u-section-2 .u-input-3 {
  font-family: StingerFit-Regular;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 1173px;
  }

  .u-section-2 .u-group-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    min-height: 1237px;
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 80px;
  }

  .u-section-2 .u-text-1 {
    font-family: Roboto, sans-serif;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 605px;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-group-4 {
    height: auto;
  }

  .u-section-2 .u-container-layout-7 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-group-5 {
    height: auto;
  }

  .u-section-2 .u-container-layout-9 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-group-6 {
    height: auto;
  }

  .u-section-2 .u-container-layout-11 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-group-7 {
    height: auto;
  }

  .u-section-2 .u-container-layout-13 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 86px;
  }

  .u-section-2 .u-form-1 {
    width: 792px;
    margin-top: 39px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 1874px;
  }

  .u-section-2 .u-group-1 {
    min-height: 1874px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 1332px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 47px;
  }

  .u-section-2 .u-form-1 {
    margin-top: 29px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 2227px;
  }

  .u-section-2 .u-group-1 {
    min-height: 2227px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 75px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-family: StingerFit-Bold;
    font-weight: 700;
    width: auto;
    margin-top: 28px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    margin-top: 111px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 13px;
    margin-left: 10px;
  }

  .u-section-2 .u-form-1 {
    height: 268px;
    width: 620px;
    margin-top: 47px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 2134px;
  }

  .u-section-2 .u-group-1 {
    min-height: 2134px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 65px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 50px;
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-2 .u-form-1 {
    width: 320px;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
  }
}
.u-section-3 {
  background-image: linear-gradient(black, black);
}

.u-section-3 .u-sheet-1 {
  min-height: 323px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: StingerFit-Bold;
  margin: 71px -124px 0;
}

.u-section-3 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  width: 755px;
  margin: -57px auto 60px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-size: 3rem;
  font-family: StingerFit-Regular;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-btn-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 303px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 70px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
    margin-top: -18px;
    margin-left: 0;
    margin-right: 0;
  }
}
@font-face {
  font-family: "StingerFit-Bold";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/StingerFit-Bold.ttf);
}
@font-face {
  font-family: "StingerFit-Regular";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/StingerFit-Regular.ttf);
}
